<form>
    <p>Nome: <input type="text" name="name" placeholder="{{usuario.nome}}" [(ngModel)]="usuario.nome"/></p>
    <p>Nascimento: <input type="text" name="dataNasc" placeholder="{{usuario.dataNasc}}" [(ngModel)]="usuario.dataNasc"/></p>
    <p>E-mail: <input type="text" name="email" placeholder="{{usuario.email}}" [(ngModel)]="usuario.email"/></p>
    <p>Senha: <input type="text" name="senha" placeholder="{{usuario.senha}}" [(ngModel)]="usuario.senha"/></p>
    <button mat-raised-button (click)="atualizarUsuario()" color="primary">Salvar</button>
    <app-deletar-usuarios [usuarioId] = "usuario.id"></app-deletar-usuarios>
</form>
