@import '~primeicons/primeicons.css';
@import '~primeng/resources/primeng.min.css';

.animelist {
    width: 50%;
    width: 500px; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 5pt;
    border: 2px groove rgb(251, 3, 144);
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(244, 237, 237);
    opacity: 0.9;
}

.dropdown {
    all: revert;
}

.cadastrar, .nome, .atributos {
    text-align: center;
    color: rgb(43, 43, 43);
}

.nome {
    margin-top: 10pt;
}