<div class="animelist">

    <h2 class="cadastrar">Adicionar anime:</h2>

    <form>
        <p class="nome"> Anime:</p>
        <p class="atributos">
            <select [(ngModel)]="anime.id" name="id">
                <option *ngFor="let a of animes" value= {{a.id}}>
                    {{a.nome}}
                </option>
                </select>
        </p>
        <p class="atributos">Nota:</p>
        <p class="atributos"><input type="number" name="nota" [(ngModel)]="anime.nota"/></p>
        <p class="atributos">Status:</p>
        <p class="atributos"><input type="text" name="status" [(ngModel)]="anime.status"/></p>
        <p class="atributos"><button mat-raised-button (click)="criarAnimelist()" color="primary">Adicionar anime</button></p>
    </form>
</div>