<mat-toolbar color="primary" class="topbar">
  <div>Animelist</div>
  <div>
    <button mat-icon-button *ngIf="displayAddAnime" (click)="paginaAnimesCriar()">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button *ngIf="displayAddUsuario" (click)="paginaUsuariosCriar()">
      <mat-icon>add</mat-icon>
    </button>
    <button (click)="paginaHome()">Home</button>
    <button (click)="paginaAnimes()">Animes</button>
    <button (click)="paginaUsuarios()">Usuários</button>
  </div>
</mat-toolbar>
