<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <app-top-bar></app-top-bar>
    <div class="background">
        <div class="home">
            <h1>Nova plataforma para você organizar seus animes</h1>
            <h2>Crie uma conta, veja os últimos lançamentos e adicione-os em sua própria lista! </h2>
            <h3>Animes da temporada:</h3>
            <p>
                <a mat-raised-button color="primary" href="/animes/listar">Animes</a>
            </p>
            <h4>Crie seu usuário:</h4>
            <p>
                <a mat-raised-button color="warn" href="/usuarios/criar">Usuários</a>
            </p>
        </div>
    </div>
</body>
</html>
