<app-top-bar></app-top-bar>

<div class="background">
    <div class="usuarios">
        <h2 class="cadastrar">Cadastrar usuário:</h2>
    
        <form>
            <p class="nome">Nome:</p>
            <p class="atributos"><input matInput #input maxlength="50" placeholder="Ex. Julia" type="text" name="nome" [(ngModel)]="usuario.nome" pInputText/></p>
            <p class="atributos">Nascimento:</p>
            <p class="atributos"><input matInput #input maxlength="50" placeholder="Ex. 01/01/2000" type="text" name="datanasc" [(ngModel)]="usuario.dataNasc" pInputText/></p>
            <p class="atributos">E-mail:</p>
            <p class="atributos"><input matInput #input maxlength="50" placeholder="Ex. pat@example.com" type="text" name="email" [(ngModel)]="usuario.email" pInputText/></p>
            <p class="atributos">Senha:</p>
            <p class="atributos"><input type="text" name="senha" [(ngModel)]="usuario.senha" pInputText/></p>
            <p class="atributos"><button mat-raised-button (click)="criarUsuario()" color="primary">Criar usuário</button></p>
        </form>
    </div>
</div>