.background {
    height: 100%;
    background-image: url("src/assets/bg.png");
    padding-top: 25pt;
}

.usuarios {
    width: 50%;
    width: 500px; 
    margin-left: auto;
    margin-right: auto;
    border: 2px groove rgb(251, 3, 144);
    border-radius: 5px;
    padding: 50px;
    background-color: rgb(244, 237, 237);
    opacity: 0.9;
}

.cadastrar, .nome, .atributos {
    text-align: center;
    color: rgb(43, 43, 43);
}

.nome {
    margin-top: 30pt;
}