<app-top-bar></app-top-bar>

<div>
    <h2>Cadastrar usuário:</h2>

    <form>
        <p>Nome: <input type="text" name="name" [(ngModel)]="usuario.nome"/></p>
        <p>DataNasc: <input type="text" name="datanasc" [(ngModel)]="usuario.dataNasc"/></p>
        <p>Email: <input type="text" name="email" [(ngModel)]="usuario.email"/></p>
        <p>Senha: <input type="text" name="senha" [(ngModel)]="usuario.senha"/></p>
        <button type="button" (click)="criarUsuario()">Criar usuário</button>
    </form>
</div>
