<app-top-bar></app-top-bar>

<div class="background">
    <div class="animes">
        <h2 class="cadastrar">Cadastrar anime:</h2>
    
        <form>
            <p class="nome">Nome:</p>
            <p class="atributos"><input type="text" name="name" [(ngModel)]="anime.nome" pInputText/></p>
            <p class="atributos">Autor:</p>
            <p class="atributos"><input type="text" name="autor" [(ngModel)]="anime.autor" pInputText/></p>
            <p class="atributos">Sinopse:</p>
            <p class="atributos"><input type="text" name="sinopse" [(ngModel)]="anime.sinopse" pInputText/></p>
            <p class="atributos"><button mat-raised-button (click)="criarAnime()" color="primary">Criar anime</button></p>
        </form>
    </div>
</div>